.content {
	.intro-card {
		width: 80%;
		margin: auto;
		padding: 20px;
	}

	.support-cards {
		margin-top: 50px;
		padding-bottom: 20px;
		display: flex;
		justify-content: space-around;

		.box {
			width: 25%;
			text-align: center;
		}
	}
}
