<section class="support-top-section">
<div class="container">
 <div class="row">
   <div class="col-md-12">
<div class="content">
 
  <div class="intro-card wow fadeIn" data-wow-duration="2s">
    <mat-card>
      <mat-card-content>
        <p>
          AlgoSys Technologies provides maintenance and 
          support services to its client helping them 
          manage the product through its lifecycle. 
          The nature of the services differs with the needs 
          of each product segment. For discrete products, 
          services include support through manufacturing in 
          the form of engineering change management, 
          technical documentation, training and managing 
          after-sales maintenance and repairs. 
          For software products, the services are 
          comprehensive including training, turn-on and 
          monitoring, Help Desk, Technical support and Support services. Benefits that can be realized are timely, ongoing support which is crucial to the success of any project and access to reliable technical support. We guarantee swift response to your issues through support facilities like the Global Support Center, regional support centers and even onsite support.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
</div>
</div>
</div>
</section>

<section class="support-main-content">
  <div class="container">
    <div class="row">
    <div class="col-md-3">
    <mat-card class="box wow fadeIn" data-wow-duration="2s" data-wow-delay="1.2s">
        <mat-card-header>
            <mat-card-title><i class="material-icons md-68 md-dark">settings</i></mat-card-title>
          <mat-card-title>
              
              Help Desk
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Algosys provides you with Help desk services that will provide the ability to handle product queries related to features, pricing, support, licensing, clarifications, ability to receive orders and provide status on the same.
            Algosys will receive customer issues and resolve them, where possible. Unresolved issues would be escalated to your L2-Support or field-support
          </p>
        </mat-card-content>
      </mat-card>
      </div>

      <div class="col-md-3">
    <mat-card class="box wow fadeIn" data-wow-duration="2s" data-wow-delay="1.2s">
      <mat-card-header>
          <mat-card-title><i class="material-icons md-68 md-dark">contact_support</i></mat-card-title>
        <mat-card-title>
            Technical Support
        </mat-card-title> 
      </mat-card-header>
      <mat-card-content>
        <p>Algosys can provide Technical Support Services that includes problem analysis & replication, problem resolution via work-around or escalation to L3 support or to your team for further action, etc.</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-md-3">
    <mat-card class="box wow fadeIn" data-wow-duration="2s" data-wow-delay="1.2s">
      <mat-card-header>
          <mat-card-title><i class="material-icons md-68 md-dark">supervised_user_circle</i></mat-card-title>
        <mat-card-title>
            Support Services
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          As part of our product sustenance service we provide sustenance service of bug-fix, minor enhancements, maintenance testing and release management needs for your product.
        </p>
      </mat-card-content>
    </mat-card>
    </div>
</div>
</div>
</section>
 