<div class="footer">
   <div class="container">
      <div class="row">
        <div class="col-sm-3 wow zoomIn box" data-wow-duration="1s" data-wow-delay="0.1s">
          <div class="content">
              <h3>Address</h3>
              
                    <p>  <i class="material-icons md-24 md-dark">
                        location_on
                        </i> Ganadesh Empire, Rahatni Corner, Pune(India) 411027</p>
          
                <p><i class="material-icons md-24 md-dark">call</i> (91) 098-19-696687</p>
               
                <p><i class="material-icons md-24 md-dark">email</i> info@algosystech.com</p>
              
        </div>
    </div>


    <div class="col-sm-3 wow zoomIn box" data-wow-duration="1s" data-wow-delay="0.1s">
        <div class="content">
            <h3>WHO WE ARE</h3>
            <p>AlgoSys Tech is a technology driven organization focused on providing complete automation of business and its operation processes. We not only cater to the business requirements of our clients but understand their business to help them achieve new amplitudes in their endeavours.</p>
      </div>
  </div>


  <div class="col-sm-3 wow zoomIn box" data-wow-duration="1s" data-wow-delay="0.1s">
      <div class="content">
          <h3>WHAT WE DO</h3>
          <p>We have put in our vast experience and expertise in collections, transaction pricing & billing and Performance Management to build a robust product that is cost-effective. Our products, services, expertise and solutions provide a comprehensive platform to our customers to gain a competitive edge in market with better controls</p>
      </div>
</div>
</div>
</div>
</div>
 