<div class="container">
    <div class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.1s">
        <h2 class="h1 pt-5 pb-3">Contact us</h2>
        <p class="px-5 mb-5 pb-3 lead blue-grey-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Ut enim ad minim veniam.
        </p>
    </div>

    <div class="contact-form wow fadeIn" data-wow-duration="2s" data-wow-delay="2s">
        <form [formGroup]="exForm">
                <mat-card>
                    <mat-card-content>
                        <mat-grid-list cols="3" rowHeight="100px">
                            <mat-grid-tile>
                                    <mat-form-field class="full-width">
                                       <input matInput placeholder="Your name" formControlName="firstName">
                                       <span *ngIf="f.firstName.errors">this field is required</span>
                                    </mat-form-field>
                                        
                            </mat-grid-tile>
                            <mat-grid-tile>
                                    <mat-form-field class="full-width">
                                            <input matInput placeholder="Your email" formControlName="emailAddress">
                                         </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                    <i class="material-icons md-48 md-dark">
                                            location_on
                                            </i>
                                            <p>140, City Center, New York, U.S.A</p>
                            </mat-grid-tile>
                        </mat-grid-list>
                        <mat-grid-list cols="3" rowHeight="100px">
                                <mat-grid-tile [colspan] = "2">
                                        <mat-form-field class="full-width">
                                           <input matInput placeholder="Subject">
                                        </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile> 
                                        <i class="material-icons md-48 md-dark">
                                                call
                                                </i>
                                                <p>+ 01 234 567 89</p>
                                </mat-grid-tile>
                            </mat-grid-list>
                            <mat-grid-list cols="3" rowHeight="100px">
                                    <mat-grid-tile [colspan] = "2">
                                            <mat-form-field class="full-width">
                                               <textarea matInput cols="3" placeholder="Your message"></textarea>
                                            </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                            <i class="material-icons md-48 md-dark">
                                                    email
                                                    </i>
                                                    <p>contact@company.com</p>
                                    </mat-grid-tile>
                                </mat-grid-list>    
                    </mat-card-content>
                </mat-card>
        </form>
    </div>
</div>