<div class="topheader">
<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar top-nav-collapse">
  <span class="navbar-toggle" id="js-navbar-toggle">
    <i class="material-icons"></i>
  </span>
  <a href="#" class="logo">logo</a>
  <ul class="main-nav" id="js-menu">
      <li>
          <a routerLink="/home" routerLinkActive="active" class="nav-links">Home</a>
      </li>
      <li>
          <a routerLink="/products" routerLinkActive="active" class="nav-links">Products</a>
      </li>
      <li>
          <a routerLink="/support" routerLinkActive="active" class="nav-links">Support</a>
      </li>
      <li>
          <a routerLink="/clients" routerLinkActive= "active" class="nav-links">Clients</a>
      </li>
      <li>
          <a routerLink="/services" routerLinkActive="active" class="nav-links">Careers</a>
      </li>
      <li>
          <a routerLink="/contact" routerLinkActive="active" class="nav-links">Contacts</a>
      </li>
  </ul>
</nav>
</div>
