 
 
.slider {
	width: 100%;
	height: 100vh;
	background: url('../../../assets/images/StockSnap_7OPWOSQFXS.jpg') no-repeat center center;
	background-size: cover;
	position: relative;
	overflow: hidden;
	
}
.content {
	position: absolute;
	top: 100px;
	margin: 0;
	color: white;
	z-index: 1;
	width:100%;
	left:0;
	right:0;
	text-align:center;
}

@media(min-width:992px) {
	.content {
	margin: 80px;
	text-align:left;
	
	}
}


.container {
	   width:1140px;
		margin-right: auto;
		margin-left: auto;
		padding-right: 15px;
		padding-left: 15px;
		box-sizing: border-box;	
	 
}
@media (min-width: 576px) {
	.container {
	 max-width: 540px;
	 }
}

@media (min-width: 768px) {
.container {
max-width: 720px;
}
}

@media (min-width: 992px) {
.container {
	max-width: 960px;
	}
}

@media (min-width: 1200px) {
.container {
	max-width: 1140px;
}
} 
.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;

}
.content h2 {
	font-size:28px;
	font-weight:normal;
}
@media(min-width:992px) {
.content h2 {
	font-size:40px;
	font-weight:normal;
}
}
 
.text-center {
	text-align:center;
}
@media (min-width: 992px) {
	.text-center {
		text-align:left;
	}
	
}
.container .row .col-lg-6 {
	width:100%;
 
}
@media (min-width: 992px) {
.container .row .col-lg-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
		position: relative;
	}
}
