
<div class="home-cards">
  <mat-card class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="2s">
    <mat-card-header>
      <mat-card-title><i class="material-icons md-68 md-dark">settings</i></mat-card-title>
      <mat-card-title>Products</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
          We conceptualized and build our billing product that is flexible and user friendly enough to cater the pricing and billing requirements of any payout / billing policy  
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="2s">
    <mat-card-header>
      <mat-card-title><i class="material-icons md-68 md-dark">contact_support</i></mat-card-title>
      <mat-card-title>Support</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
          We provide maintenance and support services to its client helping them manage the product through its lifecycle.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="2s">
    <mat-card-header>
      <mat-card-title><i class="material-icons md-68 md-dark">supervised_user_circle</i></mat-card-title>
      <mat-card-title>Clients</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
          We not only cater to the business requirements of our clients but understand their business to help them achieve new amplitudes in their endeavours
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="2s">
    <mat-card-header>
      <mat-card-title><i class="material-icons md-68 md-dark">contacts</i></mat-card-title>
      <mat-card-title>Careers</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
          Do you have the passion to make a difference - the passion to build stronger businesses for organizations around the world?.
      </p>
    </mat-card-content>
  </mat-card>
</div>  