<div class="work-with-container">
  <div class="wow fadeIn" data-wow-duration="1s">
    <h2 class="h1 pt-5 pb-3">Why work with us?</h2>
    <p class="px-5 mb-5 pb-3 lead blue-grey-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam.
    </p>
  </div>

  <div class="work-with-cards">
    <mat-card class="box wow fadeInUp" data-wow-duration="1s">
      <mat-card-header class="text-center">
        <mat-card-title>Design</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="box wow fadeInUp" data-wow-duration="1s">
        <mat-card-header class="text-center">
          <mat-card-title>Feedback</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
        </mat-card-content>
    </mat-card>

      <mat-card class="box wow fadeInUp" data-wow-duration="1s">
          <mat-card-header class="text-center">
            <mat-card-title>Execution</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
          </mat-card-content>
      </mat-card>
  </div>
</div>